<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"># </th>
            <th scope="col"> الاعلان</th>
            <th scope="col"> السعر</th>
            <th scope="col"> المده</th> 

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>شركة سيارات</td>
            <td>2300</td>
            <td>14</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>عقارات</td>
            <td> 4522</td>
            <td>238</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td >سيارت حديثة</td>
            <td> 4522</td>
            <td>78</td>
        </tr>
    </tbody>
</table>